@model Timesheet_Project.ViewModel.TimesheetModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
            <div class="main-content">
                <section class="section">
                    <div class="section-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>New Timesheet</h4>
                                    </div>
                                    <div class="card-body">
                                       <div class="fc-overflow">
                                            <div id="myEvent" class="fc fc-unthemed fc-ltr">
                                                <div class="fc-toolbar fc-header-toolbar">
                                                    <form asp-action="Create" method="post">
                                                        <div class="card-body" style="padding:0px;">
                                                    <div class="row">
                                                        <div class="col-6 col-md-5" style="padding: 5px;">
                                                            <select name="month" class="form-control" onchange="$('#btn_refresh').click()">
                                                                @* <option>...Select Month...</option> *@
                                                                <option value="1">January</option>
                                                                <option value="2">February</option>
                                                                <option value="3">March</option>
                                                                <option value="4">April</option>
                                                                <option value="5">May</option>
                                                                <option value="6">June</option>
                                                                <option value="7">July</option>
                                                                <option value="8">August</option>
                                                                <option value="9">September</option>
                                                                <option value="10">October</option>
                                                                <option value="11">November</option>
                                                                <option value="12">December</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6 col-md-5" style="padding: 5px;">
                                                            <select name="year" onchange="$('#btn_refresh').click()" class="form-control">
                                                                @for (var i = 2021; i <= DateTime.Now.Year; i++)
                                                                {
                                                                    <option value="@i">@i</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="col-md-2" style="padding: 5px;">
                                                            <button type="submit" onClick="refreshPage()" class="btn btn-info btn-circle" id="btn_refresh"><i class="fas fa-redo-alt"></i></button>
                                                        </div>

                                                    </div>
                                                </div>
                                                     </form>
                                                </div>
                                            </div>
                                       </div>
                                       <div class="p-3">
                                            <div id='calendar'></div>
                                        </div>
                                       <div class="d-flex align-items-center p-3 mt-2">
                                            @* <h3 class="font-light">1 members selected</h3> *@
                                            <div class="ml-auto">
                                                @if (Model.Timesheet == null)
                                                {
                                                    <form asp-action="NewTimeSheet" method="post" id="frm_new_timesheet">
                                                        <input type="hidden" name="year" value="@Model.year" />
                                                        <input type="hidden" name="month" value="@Model.month" />
                                                    </form>
                                                    <a class="btn btn-primary text-white btn-rounded py-2 px-3" href="javascript:document.getElementById('frm_new_timesheet').submit()">Add <i class="fas fa-plus ml-2"></i></a>
                                                }
                                                else
                                                {
                                                    if (Model.Timesheet.State == "NOTSUBMITTED" || Model.Timesheet.State == "NOTSUBMITTED")
                                                    {
                                                        <a asp-controller="Timesheet" asp-action="Submit" asp-route-id="@Model.Timesheet.TimesheetId" class="btn btn-success text-white btn-rounded py-2 px-3">Submit <i class="fa fa-check ml-2"></i></a>
                                                        <a asp-controller="Timesheet" asp-action="Edit" asp-route-id="@Model.Timesheet.TimesheetId" class="btn btn-info text-white btn-rounded py-2 px-3">Edit <i class="fas fa-edit ml-2"></i></a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div> 
    </div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<link href="~/assets/bundles/fullcalendar/fullcalendar.min.css" rel="stylesheet" />
@*<link href="~/assets/bundles/" rel="stylesheet" />*@
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });

</script>
<script src="~/assets/bundles/fullcalendar/fullcalendar.min.js"></script>
