@using Newtonsoft.Json;
@model Timesheet_Project.ViewModel.TimesheetModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Edit Timesheet for @(new DateTime(Model.year, Model.month, 1).ToString("MMMM yyyy"))</h4>
                    <form asp-action="PostTimesheet" method="POST">
                        <input type="hidden" value="@Model.Timesheet.TimesheetId" name="timesheet_id" />
                        @{
                            //double weeks = (Model.TimeSheetDays.LastOrDefault().Date - Model.TimeSheetDays.FirstOrDefault().Date).TotalDays / 7;
                            List<int> allweeks = Model.TimesheetDays.Select(m => m.WeekOfMonth).Distinct().ToList();
                        }
                        @* @for (var i = Model.FirstWeek; i <= Model.LastWeek; i++) *@
                        @* @for (var i = 0; i <= weeks; i++) *@
                        @foreach (var i in allweeks)
                        {

                            var project_id = "project_" + i;
                           @* var activity_id = "activity_" + i;*@
                            <div class="table-responsive">
                                <table class="table table-responsive table-bordered table-striped" id="tbl_@i" style="min-width: 600px;">
                                    <thead>
                                        <tr>
                                            <th class="bg-warning" width="1%">Wk</th>
                                            <th class="bg-warning" width="10%">Project Name</th>
                                        @*    <th class="bg-warning" width="10%">Activity</th>*@
                                            @{
                                                //get all days in a particular week
                                                var week_days = Model.TimesheetDays.Where(e => e.WeekOfMonth == i);
                                                //get the number of rows
                                                var proj_activity_list = new List<int[]>();

                                                if (Model.TimesheetItem.Any())
                                                {
                                                    //get all timesheets submitted for this week
                                                    var week_time_sheets = Model.TimesheetItem.Where(e => e.Week == i && e.Date.Month == Model.month);
                                                    var re_value = week_time_sheets.Select(m => new { m.ProjectId}).Distinct().ToList();

                                                    foreach (var value in re_value)
                                                    {
                                                        proj_activity_list.Add(new int[] { value.ProjectId });
                                                    }
                                                }
                                            }
                                            @foreach (var day in week_days)
                                            {
                                                if (day.Date.Month == Model.month)
                                                {
                                                    var lorh = ""; //ArrangeUtil.HolidayOrLeave(day.Date, ViewBag.EmpNumber);
                                                    @if (!string.IsNullOrEmpty(lorh))
                                                    {
                                                        <th class="bg-success" style="text-align:center" width="10%">@day.DayOfWeek.Substring(0, 3) @day.DayOfMonth [@lorh]</th>
                                                    }
                                                    else
                                                    {
                                                        <th class="bg-success" style="text-align:center" width="10%">@day.DayOfWeek.Substring(0, 3) @day.DayOfMonth </th>
                                                    }
                                                }
                                                else
                                                {
                                                    <th width="10%"></th>
                                                }
                                            }
                                            <th class="bg-info" width="10%"><button type="button" class="btn btn-sm btn-primary" onclick='add_row("tbl_@i")'>Add Row</button></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (proj_activity_list.Any())
                                        {
                                            var row_count = 0;
                                            foreach (var proj_list in proj_activity_list)
                                            {
                                                row_count += 1;
                                                var proj_id = project_id + "_" + row_count;
                                               // var ac_id = activity_id + "_" + row_count;
                                                <tr>
                                                    <td>@i</td>
                                                    <td>
                                                        <select class="@string.Format("form-control pr {0}", proj_id)" name="@proj_id" asp-items="@(new SelectList(ViewBag.Projects, "Id", "Name", proj_list[0]))" onchange="enable_activities(this)">
                                                            <option value="">Select Project</option>
                                                        </select>
                                                        @* @Html.DropDownList("project", new SelectList(projects, "id", "name", proj_list[0]), "- Please Select -", new { @class = string.Format("form-control pr {0}", proj_id), onchange = "enable_activities(this)" }) *@
                                                    </td>
                                                @*    <td>
                                                        <select class="@string.Format("form-control act {0}", ac_id)" name="@ac_id" asp-items="@(new SelectList(ViewBag.Activities, "Id", "Name", proj_list[1]))" onchange="enable_inputs(this)" required>
                                                            <option value="">Select Activity</option>
                                                        </select>
                                                    </td>*@
                                                    @foreach (var day in week_days)
                                                    {
                                                        var value = "";
                                                        var comment = "";
                                                        var comment_class = "";
                                                        var time_sheet = Model.TimesheetItem.FirstOrDefault(e => e.Date == day.Date && e.ActivityId == proj_list[1] && e.ProjectId == proj_list[0]);
                                                        if (time_sheet != null)
                                                        {
                                                            value = time_sheet.Duration.ToString();
                                                            comment = time_sheet.Comment;
                                                            if (comment != null && comment.Length > 0)
                                                            {
                                                                comment_class = "btn-warning";
                                                            }
                                                        }

                                                        if (day.Date.Month == Model.month)
                                                        {
                                                            var read_only = "";
                                                           // @if (!string.IsNullOrEmpty(ArrangeUtil.HolidayOrLeave(day.Date, ViewBag.EmpNumber)))
                                                          @*  {
                                                                read_only = "readonly";
                                                                value = "8";
                                                            }*@
                                                            var name = i + "_" + day.Date.ToString("yyyy-MM-dd") + "_" + row_count;
                                                            <td>
                                                                <div class="input-group">
                                                                    <input type="number" @read_only maxlength="2" min="0" max="24" class="form-control small eligible" name="@name" value="@value"> <span class="input-group-btn">
                                                                        <button type="button" data-toggle="modal" data-target="#myModal" onclick=active_comment(this) class="btn btn-default @comment_class eligible">
                                                                            <i class="fas fa-comment-alt"></i>
                                                                        </button>
                                                                        <input type="hidden" name="comment_@name" id="comment_@name" value="@comment" />
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <div class="input-group">
                                                                    <input type="text" readonly class="form-control small"> <span class="input-group-btn">
                                                                        <button disabled type="button" class="btn btn-default">
                                                                            <i class="fas fa-comment-alt"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </td>
                                                        }
                                                    }
                                                    <td>
                                                        <button class="btn btn-sm btn-danger" type="button" onclick="delete_row(this,'tbl_@i')"><i class="fa fa-trash"></i></button>
                                                        <button class="btn btn-sm btn-warning" type="button" onclick="clear_row(this)"><i class="fa fa-undo"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            project_id += "_1";
                                            //activity_id += "_1";
                                            <tr>
                                                <td>@i</td>
                                                <td>
                                                    <select class="@string.Format("form-control pr {0}", project_id)" name="@project_id" asp-items="@(new SelectList(ViewBag.Projects, "Id", "Name"))" onchange="enable_activities(this)">
                                                        <option value="">Select Project</option>
                                                    </select>
                                                </td>
                                                @*<td>
                                                    <select class="@string.Format("form-control act {0}", activity_id)" name="@activity_id" disabled="disabled" asp-items="@(new SelectList(ViewBag.Activities, "Id", "Name"))" onchange="enable_inputs(this)" required>
                                                        <option value="">Select Activity</option>
                                                    </select>
                                                </td>*@
                                                @* <td>
                                        @Html.DropDownList("project", new SelectList(projects, "id", "name"), "- Please Select -", new { @class = string.Format("form-control pr {0}", project_id), onchange = "enable_activities(this)" })
                                        </td>
                                        <td>
                                        @Html.DropDownList("activity", new SelectList(activities, "activity_id", "name"), "- Please Select -", new { @class = string.Format("form-control act {0}", activity_id), @disabled = "disabled", onchange = "enable_inputs(this)" })
                                        </td> *@
                                                @foreach (var day in week_days)
                                                {
                                                    var value = "";
                                                    var time_sheet = Model.TimesheetItem.FirstOrDefault(e => e.Date == day.Date);
                                                    if (time_sheet != null)
                                                    {
                                                        value = time_sheet.Duration.ToString();
                                                    }
                                                    var read_only = "";
                                                  @*  @if (!string.IsNullOrEmpty(ArrangeUtil.HolidayOrLeave(day.Date, ViewBag.EmpNumber)))
                                                    {
                                                        read_only = "readonly";
                                                        value = "8";
                                                    }*@
                                                    if (day.Date.Month == Model.month)
                                                    {
                                                        var name = i + "_" + day.Date.ToString("yyyy-MM-dd") + "_1";
                                                        <td>
                                                            <div class="input-group">
                                                                <input @read_only type="number" maxlength="2" min="0" max="24" class="form-control eligible" disabled="disabled" name="@name" value="@value" id="@name">
                                                                <div class="input-group-append">
                                                                    <button class="btn eligible" disabled="disabled" data-toggle="modal" onclick="active_comment(this)" data-target="#myModal" type="button"><i class="fas fa-comment-alt"></i></button>
                                                                    <input type="hidden" name="comment_@name" id="comment_@name" value="" />
                                                                </div>
                                                            </div>
                                                            @* <div class="input-group">
                                            <input type="number" class="form-control small eligible" maxlength="2" max="24" disabled="disabled" name="@name" value="@value"  id="@name">
                                            <span class="input-group-btn">
                                            <button type="button" disabled="disabled" data-toggle="modal" onclick=active_comment(this) data-target="#myModal" class="btn btn-default eligible">
                                            <i class="fa fa-comment-o"></i>
                                            </button>
                                            <input type="hidden" name="comment_@name" id="comment_@name" value="" />
                                            </span>
                                            </div> *@
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>
                                                            <div class="input-group">
                                                                <input type="text" readonly class="form-control small"> <span class="input-group-btn">
                                                                    <button disabled type="button" class="btn btn-default">
                                                                        <i class="fas fa-comment-alt"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </td>
                                                    }
                                                }
                                                <td>
                                                    <button class="btn btn-sm btn-danger" type="button" onclick="delete_row(this,'tbl_@i')"><i class="fa fa-trash"></i></button>
                                                    <button class="btn btn-sm btn-warning" type="button" onclick="clear_row(this)"><i class=" fas fa-undo"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        <div class="col-lg-12">
                            <span><strong>H</strong> - Holiday</span>
                            <span><strong>L</strong> - Leave</span>
                            @* <span><strong>W</strong> - Weekend</span>
                            <span><strong>F</strong> - Full day-off</span>
                            <span><strong>P</strong> - Partial day-off</span> *@
                        </div>
                        <div style="float:right;">
                            <button class="btn btn-primary" type="submit">Save</button>
                            <a class="btn btn-warning" asp-controller="Timesheet" asp-action="MyTimeSheets">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModal" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">Add Comment</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="3" id="comment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="add_comment()" class="btn btn-primary">Add</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
